doctype html 
html
  head
    title Job Listings
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css")

  body
    include navbar
    .container.mt-5
      h1.text-center.text-primary Job Listings
      hr

      //- Search Form
      form(method="GET" action="/jobs" class="mb-4")
        .row
          .col-md-3
            input.form-control(type="text" name="title" placeholder="Job Title" value=searchParams.title || "")
          .col-md-3
            input.form-control(type="text" name="location" placeholder="Location" value=searchParams.location || "")
          .col-md-3
            select.form-control(name="job_type")
              option(value="") All Job Types
              option(value="Full-time" selected=(searchParams.job_type === 'Full-time')) Full-time
              option(value="Part-time" selected=(searchParams.job_type === 'Part-time')) Part-time
              option(value="Contract" selected=(searchParams.job_type === 'Contract')) Contract
          .col-md-3
            button.btn.btn-primary(type="submit") Search

      if jobs.length === 0
        .alert.alert-warning.text-center No jobs found.

      else
        table.table.table-bordered.table-striped
          thead.thead-dark
            tr
              th #  
              th Job Title  
              th Location  
              th Job Type  
              th Salary  
              th Date Posted  
              th Actions  

          tbody
            each job, index in jobs
              tr
                td #{index + 1}
                td #{job.title}
                td #{job.location}
                td #{job.job_type}
                td #{job.salary_range}
                td #{new Date(job.posted_at).toLocaleDateString()}
                td 
                  a.btn.btn-sm.btn-primary(href=`/job/${job.job_id}`) View Details


    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js")
